/* home page */

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 40px;
}

.img-container {
  margin-right: 20px;
  width: 50%;
}

.code-img {
  width: auto;
  max-width: 35rem;
  height: auto;
}

.form-container {
  width: 50%;
  border: 2px solid white;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: #1e1e1f;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}
.form-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 12px;
}
.input-field {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 12px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.submit-btn {
  background-color: #0d377d;
  color: white;
}

.submit-btn:hover {
  background-color: #032962;
}

@media only screen and (max-width: 768px) {
  .img-container {
    display: none;
  }
  .form-container {
    width: 100%;
    margin: 10px;
  }
}

/* editor page */

.editor-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #222223;
  padding: 29px;
  height: auto;
  color: white;
  box-shadow: 10px 19px 10px rgba(246, 241, 241, 0.1);
}

.sidebar-top {
  margin-bottom: 10px;
}
.collab-list {
  margin: 10px 0;
}

.sidebar-bottom {
  justify-content: space-between;
  gap: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 30px;
}

.copy-btn {
  background-color: #8d939d;
}

.leave-btn {
  background-color: rgb(174, 105, 105);
}

.copy-btn:hover {
  background-color: #bed1f3;
}

.leave-btn:hover {
  background-color: rgb(245, 118, 118);
}
